<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login_background.png) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Condominio</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.timeline" class="button button-full button-positive ink">Login</button>
        </div>
    </ion-content>
</ion-view>
