<ion-view view-title="Ramais">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Buscar Ramal</span>
                    <input type="text" placeholder="Buscar Ramal" ng-model="buscaRamal">
                </label>

                <div class="item item-avatar item-icon-right" ng-repeat="ramal in ramais | filter:buscaRamal">
                    <img src="img/jon-snow.jpg">
                    <h2>{{ramal.nome}}</h2>
                    <p>{{ramal.numero}}</p>
                    <a href="tel:{{ramal.numero}}">
                        <i class="icon ion-android-call muted"></i>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<style>

</style>